/* label {
  display: inline-block;
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color:#ccc; 
  cursor: auto;
} */
 
.inset {
  padding-left: 25px;
  padding-top: 25px; }

* {
  box-sizing: border-box;
}

.column {
  float: left;
  padding: 5px;
  height: 520px;
  
}

  .clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.circles ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  cursor: hand;
}

.circles li {
  padding: 8px;
  margin-bottom: 8px;
  background-color: #073857;
  color: #c5c3e4;
  
}

.circles li:hover {
  background-color: #aeb3b4;
  
}
.messages  {
  position: relative;
  height: fit-content;
  width:  auto;
}

 .addcircle{
  color: rgb(38, 41, 38);
  font-size: 25px;
  align-content: right;
  padding-bottom: 10px;
  
}
 